
@{
    ViewBag.Title = "Projets";
    ViewData["Controller"] = "Liste des PROJETS";
}

<div class="d-flex flex-wrap justify-content-between">
    <div class="btn bg-gradient-olive mb-3 btn-flat">
        <a href="../Projects/NewProject" style="color:#FFFF"><i class="fa fa-plus-circle"></i> Nouveau PROJET </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped" id="idTable">
        <thead class="thead-green">
            <tr>
                <th>PROJETS</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody data-id="ubody"></tbody>
    </table>
</div>

<script src="~/Assets/js/Projet.js"></script>

<script defer>
    $(document).ready(function () {
        $("#idTable").DataTable()
    });
</script>

