@{
    ViewBag.Title = "Situation Actuelle de Chaque document";
    ViewData["Controller"] = "Situation Actuelle de Chaque document";
}

<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">PROJET</span>
        </div>
        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="proj" data-id="proj-list">
        </select>
    </div>
</div>

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Sites</span>
        </div>
        <select class="form-control selectTOO" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="site" data-id="site-list" multiple="multiple">
        </select>
    </div>
</div>

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Date début</span>
        </div>
        <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="dateD">
    </div>
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Date fin</span>
        </div>
        <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="dateF">
    </div>
</div>

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Status</span>
        </div>
        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="status" data-id="status-list">
            <option value="4">Tous</option>
            <option value="0">NON LANCE (non accusé)</option>
            <option value="1">ACCUSE</option>
            <option value="2">EN COURS</option>
            <option value="3">ARCHIVE</option>
        </select>
    </div>
</div>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Fournisseur</span>
        </div>
        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="fournisseur" data-id="fournisseur-list">
        </select>
    </div>
</div>
@*<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Référence</span>
        </div>
        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="Reference" data-id="reference-list">
        </select>
    </div>
</div>*@

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="btn btn-flat bg-gradient-success col-12" data-action="GenereLISTE">
            <i class="fa fa-download"></i> Générer
        </div>
    </div>
</div>

<div class="table-responsive mb-3" @*style=" max-height: calc(600px - 0.6rem * 2  );"*@ tab="ordsec">
    <table class="table table-hover table-striped table-bordered" display responsive nowrap" width="100%" id="TBD_GED_DOCS">
        <thead style="position:sticky">
            <tr class="thead-accueil1" style="white-space: nowrap;">
                <td style="font-weight:bold; text-align:center">Référence</td>
                <td style="font-weight:bold; text-align:center">Document</td>
                <td style="font-weight:bold; text-align:center">Fournisseur</td>
                <td style="font-weight:bold; text-align:center">Accusé</td>
                <td style="font-weight:bold; text-align:center">Validateur</td>
                <td style="font-weight:bold; text-align:center">Montant</td>
                <td style="font-weight:bold; text-align:center">En cours</td>
                <td style="font-weight: bold; text-align: center">Archives</td>
                <td style="font-weight: bold; text-align: center">Lien</td>
            </tr>
        </thead>
        <tbody class="traitementORDSEC"></tbody>
        <tfoot style="opacity:50%">
            <tr>
                <th>Référence</th>
                <th>Document</th>
                <th>Fournisseur</th>
                <th>Accusé</th>
                <th>Validateur</th>
                <th>Montant</th>
                <th>En cours</th>
                <th>Archives</th>
                <th>Lien</th>
            </tr>
        </tfoot>
    </table>
</div>

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="btn btn-flat bg-gradient-red col-12" id="export-to-pdf-btn">
            <i class="fa fa-file-pdf"></i> Export PDF
        </div>
    </div>
</div>

<script src="~/Assets/js/BordEtatActuelDoc.js?version=@Session["VERSION"]"></script>
<script src="~/Assets/js/utils.js?version=@Session["VERSION"]"></script>

<script src="~/Assets/admlte/plugins/select2/js/select2.js"></script>
<script src="~/Assets/admlte/plugins/select2/js/select2.min.js"></script>

<script>
    $("#proj").select2({
        tags: true,
        tokenSeparators: [',', ' ']
    })

    $("#site").select2({
        tags: true,
        tokenSeparators: [',', ' ']
    })

    //$("#typeDoc").select2({
    //    tags: true,
    //    tokenSeparators: [',', ' ']
    //})
</script>

<script defer>
    $('#export-to-pdf-btn').on('click', () => {
        exportTableToPdf('TBD_GED_DOCS', 'SITUATION DES ETAPES PAR TYPE DE DOCUMENT-PDF', `<p style="font-weight: bold /*text-align:center*/;">SITUATION DES ETAPES PAR TYPE DE DOCUMENT</p><p>Situation des étapes par type de document</p>`, `<p style="font-weight: bold;">SOFT EXPENDITURES TRACKERS </p>`, []);
        /*exportTableToPdf('dashboard', 'SiigConnect PDF', `<h1 style="color: red; ">Modifier le header</h1>`, `<h2>Modifier le footer</h2>`, []);*/
    });
</script>