@{
    ViewBag.Title = "Statistique des factures fournisseur rejetées";
    ViewData["Controller"] = "Statistique des factures fournisseur rejetées";
}

<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">PROJET</span>
        </div>
        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="proj" data-id="proj-list" multiple="multiple">
        </select>
    </div>
</div>

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Sites</span>
        </div>
        <select class="form-control selectTOO" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="site" data-id="site-list" multiple="multiple">
        </select>
    </div>
</div>

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Date début</span>
        </div>
        <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="dateD">
    </div>
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Date fin</span>
        </div>
        <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="dateF">
    </div>
</div>

@*<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Type de document</span>
        </div>
        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="typeDoc" data-id="typeDoc-list">
        </select>
    </div>
</div>*@

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Fournisseur</span>
        </div>
        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="fournisseur" data-id="fournisseur-list">
        </select>
    </div>
</div>

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="btn btn-flat bg-gradient-success col-12" data-action="GenereLISTE">
            <i class="fa fa-download"></i> Générer
        </div>
    </div>
</div>

<div class="table-responsive mb-3" @*style=" max-height: calc(600px - 0.6rem * 2  );"*@ tab="ordsec">
    <div id="RFRTable">
        <table class="table table-hover table-striped table-bordered" display responsive nowrap" width="100%" id="TBD_PROJET_ORDSEC">
            <thead style="position:sticky">
                <tr class="thead-accueil2" style="white-space: nowrap;">
                    <th colspan="4"></th>
                    <th colspan="4" style="text-align:center">Rejet</th>
                </tr>
                <tr class="thead-accueil1" style="white-space: nowrap;">
                    <td style="font-weight:bold; text-align:center">Référence</td>
                    <td style="font-weight:bold; text-align:center">Document</td>
                    <td style="font-weight:bold; text-align:center">Fournisseur</td>
                    <td style="font-weight:bold; text-align:center">Montant</td>
                    <td style="font-weight: bold; text-align: center">Etape</td>
                    <td style="font-weight:bold; text-align:center">Date rejet</td>
                    <td style="font-weight: bold; text-align: center">Utilisateur</td>
                    <td style="font-weight: bold; text-align: center">Commentaire</td>
                </tr>
            </thead>
            <tbody class="traitementORDSEC"></tbody>
            <tfoot style="opacity:50%">
                <tr>
                    <th>Référence</th>
                    <th>Document</th>
                    <th>Fournisseur</th>
                    <th>Montant</th>
                    <th>Etape</th>
                    <th>Date rejet</th>
                    <th>Utilisateur</th>
                    <th>Commentaire</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="btn btn-flat bg-gradient-red col-12" id="export-to-pdf-btn">
            <i class="fa fa-file-pdf"></i> Export PDF
        </div>
    </div>
</div>

<script src="~/Assets/js/BordStatutFactRejetee.js?version=@Session["VERSION"]"></script>
<script src="~/Assets/js/utils.js?version=@Session["VERSION"]"></script>

<script src="~/Assets/admlte/plugins/select2/js/select2.js"></script>
<script src="~/Assets/admlte/plugins/select2/js/select2.min.js"></script>

<script>
    $("#proj").select2({
        tags: true,
        tokenSeparators: [',', ' ']
    })

    $("#site").select2({
        tags: true,
        tokenSeparators: [',', ' ']
    })

    $("#fournisseur").select2({
        tags: true,
        tokenSeparators: [',', ' ']
    })
</script>

<script defer>
    $('#export-to-pdf-btn').on('click', () => {
        exportTableToPdf('TBD_PROJET_ORDSEC', 'FACTURES FOURNISSEUR REJETEES-PDF', `<p style="font-weight: bold /*text-align:center*/;">FACTURES FOURNISSEUR REJETEES</p><p>Statistique des factures fournisseur rejetées</p>`, `<p style="font-weight: bold;">SOFT EXPENDITURES TRACKERS </p>`, []);
        /*exportTableToPdf('dashboard', 'SiigConnect PDF', `<h1 style="color: red; ">Modifier le header</h1>`, `<h2>Modifier le footer</h2>`, []);*/
    });
</script>