
@{
    ViewBag.Title = "Paramétrage type d'écriture";
    ViewData["Controller"] = "Paramétrage type d'écriture";
    /*Layout = "~/Views/Shared/_Layout.cshtml";*/
}

<div class="btn-group btn-group-toggle mb-3 d-flex flex-wrap" data-toggle="buttons" style="width:100%">
    <label class="btn btn-outline-info active">
        <input type="radio" name="options" id="option1" autocomplete="off" checked data-id="1"> BR
    </label>
    <label class="btn btn-outline-danger">
        <input type="radio" name="options" id="option3" autocomplete="off" data-id="2"> COMPTA
    </label>
</div>

<div class="form-row">
    <div class="mb-3 col">
        <div class="btn btn-flat bg-gradient-olive col-12" data-action="UpdateUser">
            <i class="fa fa-save"></i> Enregistrer
        </div>
    </div>
</div>

<!-- Droit.js -->
<script src="~/Assets/js/TypeC.js"></script>


