<meta charset='utf-8' />
<link href="~/Assets/css/Evenements.css" rel="stylesheet" />
<script src="~/Assets/fullcalendar-6.1.11/dist/index.global.js"></script>

<body>
    <div>
        <div id="calendar"></div>
    </div>

    <script src="~/Assets/js/Evenements.js" asp-append-version="true"></script>
</body>
