<meta charset='utf-8' />
<script src="~/Assets/fullcalendar-6.1.11/dist/index.global.js"></script>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            editable: true,
            selectable: true,
            businessHours: true,
            dayMaxEvents: true, // allow "more" link when too many events
            headerToolbar: {
                left: 'title prev,next today',
                center: '',
                right: 'listWeek,listMonth,listYear,dayGridMonth,timeGridWeek,timeGridDay'
            },
            views: {
                listWeek: { buttonText: 'list week' },
                listMonth: { buttonText: 'list month' },
                listYear: { buttonText: 'list year' },
            },
            initialView: 'dayGridMonth',
            themeSystem: 'bootstrap5',

            events: [
                {
                    title: 'All Day Event',
                    start: '2024-03-04',
                    backgroundColor: 'green',
                    borderColor: 'green'
                },
                {
                    title: 'Long Event',
                    start: '2024-03-05',
                },
                {
                    groupId: 999,
                    title: 'Repeating Event',
                    start: '2024-03-06'
                },
                {
                    groupId: 999,
                    title: 'Repeating Event',
                    start: '2024-03-07'
                },
                {
                    title: 'Conference',
                    start: '2024-03-08'
                    /*end: '2023-01-13'*/
                },
                {
                    title: 'Meeting',
                    start: '2024-03-09'
                    /*end: '2023-01-12T12:30:00'*/
                },
                {
                    title: 'Lunch',
                    start: '2023-01-12T12:00:00'
                },
                {
                    title: 'Meeting',
                    start: '2023-01-12T14:30:00'
                },
                {
                    title: 'Happy Hour',
                    start: '2023-01-12T17:30:00'
                },
                {
                    title: 'Dinner',
                    start: '2023-01-12T20:00:00'
                },
                {
                    title: 'Birthday Party',
                    start: '2023-01-13T07:00:00'
                },
                {
                    title: 'Click for Google',
                    url: 'http://google.com/',
                    start: '2023-01-28'
                }
            ]
        });
        calendar.setOption('locale', 'FR');
        calendar.render();
    });

</script>
<style>

    body {
        margin: 40px 10px;
        padding: 0;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
    }

    #calendar {
        max-width: 100% !important;
        margin: 0 auto;
        max-height: 90vh !important;
    }

    body.sidebar-mini.layout-fixed {
        margin: auto !important;
    }

    .fc-toolbar h2 {
        display: inline;
    }

    .content-header {
        padding: 0 !important;
    }

</style>
<body>
    <div>
        <div id='calendar'></div>
    </div>
</body>
