<meta charset='utf-8' />
<link href="~/Assets/css/Evenements.css" rel="stylesheet" />
<script src="~/Assets/fullcalendar-6.1.11/dist/index.global.js"></script>

<body>
    <div>
        <div id="calendar"></div>
    </div>

    <script src="~/Assets/js/Evenements.js?version=@Session["VERSION"]"></script>
    <script src="~/Assets/js/utils.js?version=@Session["VERSION"]"></script>
</body>
