
@{
    ViewBag.Title = "Paramétrage des délais de traitement";
    ViewData["Controller"] = "Paramétrage des délais de traitement";
    /*Layout = "~/Views/Shared/_Layout.cshtml";*/
}
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">PROJET</span>
        </div>
        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="proj" data-id="proj-list">
        </select>
    </div>
</div>

<h5>Traitements engagements</h5>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Tris et validation des engagements</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaRAF">
        <span class="input-group-text">JOURS</span>
    </div>
</div>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Validation des engagements</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaV">
        <span class="input-group-text">JOURS</span>
    </div>
</div>
@*<div class="form-row">
        <div class="input-group mb-3 col">
            <div class="input-group-prepend custom-label">
                <span class="input-group-text text-bold" id="inputGroup-sizing-default">Transfert SIIGFP</span>
            </div>
            <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaSiig">
            <span class="input-group-text">JOURS</span>
        </div>
    </div>*@
@*<div class="form-row">
        <div class="input-group mb-3 col">
            <div class="input-group-prepend custom-label">
                <span class="input-group-text text-bold" id="inputGroup-sizing-default">Traitement SIIGFP</span>
            </div>
            <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaS">
            <span class="input-group-text">JOURS</span>
        </div>
    </div>*@

<h5>Traitements avances, justificatifs et reversements</h5>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Tris et validation</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaRAFA">
        <span class="input-group-text">JOURS</span>
    </div>
</div>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Validation</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaVA">
        <span class="input-group-text">JOURS</span>
    </div>
</div>
@*<div class="form-row">
        <div class="input-group mb-3 col">
            <div class="input-group-prepend custom-label">
                <span class="input-group-text text-bold" id="inputGroup-sizing-default">Transfert SIIGFP</span>
            </div>
            <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaSiigA">
            <span class="input-group-text">JOURS</span>
        </div>
    </div>
    <div class="form-row">
        <div class="input-group mb-3 col">
            <div class="input-group-prepend custom-label">
                <span class="input-group-text text-bold" id="inputGroup-sizing-default">Traitement SIIGFP</span>
            </div>
            <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaSA">
            <span class="input-group-text">JOURS</span>
        </div>
    </div>*@

<h5>Paiements</h5>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Envoi pour validation</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaPe">
        <span class="input-group-text">JOURS</span>
    </div>
</div>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Validation des paiements</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaPv">
        <span class="input-group-text">JOURS</span>
    </div>
</div>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Bon pour Paiement</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaPp">
        <span class="input-group-text">JOURS</span>
    </div>
</div>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Traitement banque</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaPb">
        <span class="input-group-text">JOURS</span>
    </div>
</div>

<div class="form-row">
    <div class="mb-3 col">
        <div class="btn btn-flat bg-gradient-olive col-12" data-action="UpdateUser">
            <i class="fa fa-save"></i> Enregistrer
        </div>
    </div>
</div>

<script src="~/Assets/admlte/plugins/select2/js/select2.js"></script>
<script src="~/Assets/admlte/plugins/select2/js/select2.min.js"></script>

<script>
    $("#proj").select2({
        tags: true,
        tokenSeparators: [',', ' ']
    })
</script>

<!-- Droit.js -->
<script src="~/Assets/js/DelaisT.js?version=@Session["VERSION"]"></script>


