
@{
    ViewBag.Title = "Paramétrage des mails (Notifications et Alertes)";
    ViewData["Controller"] = "Paramétrage des mails (Notifications et Alertes)";
    /*Layout = "~/Views/Shared/_Layout.cshtml";*/
}

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">PROJET</span>
        </div>
        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="proj" data-id="proj-list">
        </select>
    </div>
</div>

<h5>Traitements</h5>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Envoi pour validation</span>
        </div>
        <input type="email" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaT">
        <span class="input-group-text">séparateur " ; "</span>
    </div>
</div>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Validation et envoi SiigFP</span>
        </div>
        <input type="email" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaV">
        <span class="input-group-text">séparateur " ; "</span>
    </div>
</div>

<h5>Paiements</h5>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Initiation</span>
        </div>
        <input type="email" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaPi">
        <span class="input-group-text">séparateur " ; "</span>
    </div>
</div>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Envoi pour validation</span>
        </div>
        <input type="email" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaPe">
        <span class="input-group-text">séparateur " ; "</span>
    </div>
</div>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Validation</span>
        </div>
        <input type="email" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaPv">
        <span class="input-group-text">séparateur " ; "</span>
    </div>
</div>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Paiement</span>
        </div>
        <input type="email" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaPp">
        <span class="input-group-text">séparateur " ; "</span>
    </div>
</div>
@*<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Retour banque</span>
        </div>
        <input type="email" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaPb">
        <span class="input-group-text">séparateur " ; "</span>
    </div>
</div>*@

<div class="form-row">
    <div class="mb-3 col">
        <div class="btn btn-flat bg-gradient-olive col-12" data-action="UpdateUser">
            <i class="fa fa-save"></i> Enregistrer
        </div>
    </div>
</div>

<!-- Droit.js -->
<script src="~/Assets/js/Mail.js"></script>


