
@{
    ViewBag.Title = "Détails correspondance entre PROJETS - SOA";
    ViewData["Controller"] = "Détails correspondance entre PROJETS - SOA";
    /*Layout = "~/Views/Shared/_Layout.cshtml";*/
}

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">PROJET</span>
        </div>
        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="Proj" data-id="proj-list">
        </select>
    </div>
</div>

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">SOA</span>
        </div>
        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="Soa" data-id="soa-list">
        </select>
    </div>
</div>

<div class="form-row">
    <div class="mb-3 col">
        <div class="btn btn-flat bg-gradient-olive col-12" data-action="UpdateFPROSOA">
            <i class="fa fa-save"></i> Enregistrer
        </div>
    </div>
</div>

<script src="~/Assets/admlte/plugins/select2/js/select2.js"></script>
<script src="~/Assets/admlte/plugins/select2/js/select2.min.js"></script>

<script>
    $("#Proj").select2({
        tags: true,
        tokenSeparators: [',', ' ']
    })

    $("#Soa").select2({
        tags: true,
        tokenSeparators: [',', ' ']
    })
</script>

<!-- USer.js -->
<script src="~/Assets/js/DetailsFPROSOA.js?version=@Session["VERSION"]"></script>