@{
    ViewBag.Title = "Historique de connexion des utilisateurs";
    ViewData["Controller"] = "Historique de connexion des utilisateurs";
    /*Layout = "~/Views/Shared/_Layout.cshtml";*/
}

<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">PROJET</span>
        </div>
        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="proj" data-id="proj-list" multiple="multiple">
        </select>
    </div>
    @*<div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Authentification</span>
        </div>
        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="Auth" data-id="auth-list">
            <option value="0">Tous</option>
            <option value="1">Connectés</option>
            <option value="2">Déconnectés</option>
        </select>
    </div>*@
</div>

<div class="table-responsive mb-3" @*style=" max-height: calc(600px - 0.6rem * 2  );"*@ tab="ordsecOTHER">
    <table class="table table-hover table-striped table-bordered" display responsive nowrap" width="100%" id="TBD_PROJET_OTHER">
        <thead style="position:sticky">
            <tr class="thead-accueil1" style="white-space: nowrap;">
                @*<td style="text-align:center">
                    <input type="checkbox" class="Checkall" />
                </td>*@
                <td style="font-weight:bold; text-align:center">SOA</td>
                <td style="font-weight:bold; text-align:center">Projet</td>
                <td style="font-weight:bold; text-align:center">Utilisateur</td>
                <td style="font-weight: bold; text-align: center">Statut</td>
                <td style="font-weight: bold; text-align: center">Date de connexion</td>
                <td style="font-weight: bold; text-align: center">Date de déconnexion</td>
            </tr>
        </thead>
        <tbody class="traitementORDSECOTHER"></tbody>
        <tfoot style="opacity:50%">
            <tr>
                @*<th></th>*@
                <th>SOA</th>
                <th>Projet</th>
                <th>Utilisateur</th>
                <th>Statut</th>
                <th>Date connexion</th>
                <th>Date déconnexion</th>
            </tr>
        </tfoot>
    </table>
</div>

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="btn btn-flat bg-gradient-red col-12" id="export-to-pdf-btn">
            <i class="fa fa-file-pdf"></i> Export PDF
        </div>
    </div>
</div>

<script src="~/Assets/js/UserHisto.js?version=@Session["VERSION"]"></script>
<script src="~/Assets/js/utils.js?version=@Session["VERSION"]"></script>

<script src="~/Assets/admlte/plugins/select2/js/select2.js"></script>
<script src="~/Assets/admlte/plugins/select2/js/select2.min.js"></script>

<script>
    $("#proj").select2({
        tags: true,
        tokenSeparators: [',', ' ']
    })
</script>

<script defer>
    $('#export-to-pdf-btn').on('click', () => {
        exportTableToPdf('TBD_PROJET_OTHER', 'HISTORIQUE UTILISATEUR-PDF', `<p style="font-weight: bold /*text-align:center*/;">HISTORIQUE UTILISATEUR</p><p>Historique de connexion des utilisateurs</p>`, `<p style="font-weight: bold;">SOFT EXPENDITURES TRACKERS </p>`, [3]);
        /*exportTableToPdf('dashboard', 'SiigConnect PDF', `<h1 style="color: red; ">Modifier le header</h1>`, `<h2>Modifier le footer</h2>`, []);*/
    });
</script>