
@{
    ViewBag.Title = "Nouveau document";
    ViewData["Controller"] = "Nouveau document";
    /*Layout = "~/Views/Shared/_Layout.cshtml";*/
}

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">PROJET</span>
        </div>
        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="IDProjet" data-id="societe-list">
        </select>
    </div>
</div>

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Titre du document</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="Title" />
    </div>
</div>

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Mois et année</span>
        </div>
        <input type="month" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="Annee" />
    </div>
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Période</span>
        </div>
        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="Periode" data-id="periode-list">
        </select>
    </div>
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Type</span>
        </div>
        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="Type" data-id="type-list">
        </select>
    </div>
</div>

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Lien du document</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="Lien" />
    </div>
</div>

@if (((Session["userSession"] as apptab.SI_USERS).ROLE == apptab.Role.SAdministrateur || (Session["userSession"] as apptab.SI_USERS).ROLE == apptab.Role.Administrateur)
|| (((Session["userSession"] as apptab.SI_USERS).ROLE != apptab.Role.SAdministrateur || (Session["userSession"] as apptab.SI_USERS).ROLE != apptab.Role.Administrateur) && (int.Parse(Session["RRSF"].ToString()) == 2)))
{
    <div class="form-row">
        <div class="mb-3 col">
            <div class="btn btn-flat bg-gradient-olive col-12" data-action="AddnewUser">
                <i class="fa fa-save"></i> Enregistrer
            </div>
        </div>
    </div>
}

    <script src="~/Assets/js/RSFCreate.js?version=@Session["VERSION"]"></script>
