
@{
    ViewBag.Title = "Correspondance entre SET - GED";
    ViewData["Controller"] = "Correspondance entre SET - GED";
    /*Layout = "~/Views/Shared/_Layout.cshtml";*/
}

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">PROJET SET</span>
        </div>
        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="Proj" data-id="proj-list">
        </select>
    </div>
</div>

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">PROJET GED</span>
        </div>
        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="Soa" data-id="soa-list">
        </select>
    </div>
</div>

<div class="form-row">
    <div class="mb-3 col">
        <div class="btn btn-flat bg-gradient-olive col-12" data-action="AddnewSociete">
            <i class="fa fa-save"></i> Enregistrer
        </div>
    </div>
</div>

<!-- USer.js -->
<script src="~/Assets/js/PROGED.js?version=@Session["VERSION"]"></script>

