
@{
    ViewBag.Title = "Liste des privilèges SITE";
    ViewData["Controller"] = "Liste des privilèges SITE";
}

<div class="d-flex flex-wrap justify-content-between">
    <div class="btn bg-gradient-olive mb-3 btn-flat">
        <a href="../Privilege/CreateSITE" style="color:#FFFF"><i class="fa fa-plus-circle"></i> Nouveau site </a>
    </div>
</div>

<input type="text" id="myInput" onkeyup="SearchFunc()" placeholder="Recherche">

<div class="table-responsive tbodyDiv">
    <table class="table table-hover table-striped" id="idTable">
        <thead class="thead-green">
            <tr>
                <th>PROJET</th>
                <th>Utilisateur</th>
                <th>Site</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody data-id="ubody"></tbody>
    </table>
</div>

<!-- USer.js -->
<script src="~/Assets/js/SITE.js?version=@Session["VERSION"]"></script>
<script src="~/Assets/js/SearchJsSet.js?version=@Session["VERSION"]"></script>