
@{
    ViewBag.Title = "Utilisateur";
    ViewData["Controller"] = "Liste des Utilisateurs";
}


<div class="d-flex flex-wrap justify-content-between">
    <div class="btn bg-gradient-olive mb-3 btn-flat">
        <a href="../User/Create" style="color:#FFFF">
            <i class="fa fa-plus-circle"></i> Nouvel Utilisateur
        </a>
    </div>
    @*<div class="input-group mb-3 col-sm-5">
            <div class="input-group-prepend custom-label">
                <span class="input-group-text text-bold" id="basic-addon3"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control col" id="ticket" placeholder="Rechercher...">
        </div>*@
</div>
<input type="text" id="myInput" onkeyup="SearchFunc()" placeholder="Recherche">

<div class="table-responsive tbodyDiv">
    <table class="table table-hover table-striped" id="idTable">
        <thead class="thead-green">
            <tr>
                <th>PROJET</th>
                <th>Login</th>
                <th>Rôle</th>
                <th>Mot de passe</th>
                
                <th></th>
                <th></th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody data-id="ubody"></tbody>
    </table>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="password-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title">Mot de passe</h5>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="loader" class="lds-dual-ring display-none overlay"></div>
                <div class="auth-login">
                    <div class="login-box">
                        <div>
                            <div class="card-body">
                                <p class="login-box-msg font-weight-bold" style="color: #3d9970">
                                    Veuillez confirmer vos identifiants
                                </p>

                                <form method="post">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Nom d'utilisateur" id="login-name">
                                        <div class="input-group-append">
                                            <div class="input-group-text bg-gradient-secondary">
                                                <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" placeholder="Mot de passe" id="password">
                                        <div class="input-group-append">
                                            <div class="input-group-text bg-gradient-secondary">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="button type--B" id="get-user-password-btn" style="cursor: pointer;">
                                                <div class="button__line"></div>
                                                <div class="button__line"></div>
                                                <span class="button__text" @*id="get-user-password-btn" style="cursor: pointer;"*@>Vérifier</span>
                                                <div class="button__drow1"></div>
                                                <div class="button__drow2"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <br />
                                    <br />

                                    <p id="user-password" style="margin-top: 10px; margin-bottom: 10px"></p>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- USer.js -->
<script defer src="~/Assets/js/User.js?version=@Session["VERSION"]"></script>
<script defer src="~/Assets/js/passwords.js?version=@Session["VERSION"]"></script>
<script src="~/Assets/js/SearchJsSet.js?version=@Session["VERSION"]"></script>