@{
    ViewBag.Title = "SOFT - SIIGFP CONNECT";
    //ViewData["Controller"] = "SOFT - SIIGFP CONNECT";
    /*Layout = "~/Views/Shared/_Layout.cshtml";*/
}

<h1>Mandats</h1>
<div class="row">
    <div class="col-lg-3 col-6" style="cursor:pointer" show-create-user-modal>
        <a href="../Traitement/TraitementORDSECOTHER">
            <div class="small-box tdbinitier">
                <div class="inner">
                    <h3 id="MandatT">0</h3>
                    <p>Dépenses initées</p>
                </div>
                <div class="icon">
                    <i class="fa fa-exclamation"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-6" style="cursor:pointer">
        <a href="../Traitement/TraitementPROJET">
            <div class="small-box tbdattente">
                <div class="inner">
                    <h3 id="MandatA">0</h3>
                    <p>En attente tris par le RAF</p>
                </div>
                <div class="icon">
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-6" style="cursor:pointer">
        <a href="../Traitement/TraitementORDSEC">
            <div class="small-box tdbvalider">
                <div class="inner">
                    <h3 id="MandatV">0</h3>
                    <p>En attente validation ORDSEC</p>
                </div>
                <div class="icon">
                    <i class="fas fa-check"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-6" style="cursor:pointer">
        <a href="../Traitement/TraitementSENDSIIGFP">
            <div class="small-box tdblast">
                <div class="inner">
                    <h3 id="MandatTR">0</h3>
                    <p>En attente transfert vers SIIGFP</p>
                </div>
                <div class="icon">
                    <i class="fas fa-paper-plane"></i>
                </div>
            </div>
        </a>
    </div>
</div>

<h1>Avances</h1>
<div class="row">
    <div class="col-lg-3 col-6" style="cursor:pointer" show-create-user-modal>
        <a href="../TraitementAvance/TraitementORDSECOTHER">
            <div class="small-box tdbinitier">
                <div class="inner">
                    <h3 id="MandatTA">0</h3>
                    <p>Avances initiées</p>
                </div>
                <div class="icon">
                    <i class="fa fa-exclamation"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-6" style="cursor:pointer">
        <a href="../TraitementAvance/TraitementPROJET">
            <div class="small-box tbdattente">
                <div class="inner">
                    <h3 id="MandatAA">0</h3>
                    <p>En attente tris par le RAF</p>
                </div>
                <div class="icon">
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-6" style="cursor:pointer">
        <a href="../TraitementAvance/TraitementORDSEC">
            <div class="small-box tdbvalider">
                <div class="inner">
                    <h3 id="MandatVA">0</h3>
                    <p>En attente validation ORDSEC</p>
                </div>
                <div class="icon">
                    <i class="fas fa-check"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-6" style="cursor:pointer">
        <a href="../TraitementAvance/TraitementSENDSIIGFP">
            <div class="small-box tdblast">
                <div class="inner">
                    <h3 id="MandatTRA">0</h3>
                    <p>En attente transfert vers SIIGFP</p>
                </div>
                <div class="icon">
                    <i class="fas fa-paper-plane"></i>
                </div>
            </div>
        </a>
    </div>
</div>

<h1>Paiements</h1>
<div class="row">
    @*<div class="col-lg-2 col-6" style="cursor:pointer" show-create-user-modal>
            <div class="small-box bg-info">
                <div class="inner">
                    <h3 id="PaieR">0</h3>
                    <p>Paiement récupérés</p>
                </div>
                <div class="icon">
                    <i class="fas fa-list"></i>
                </div>
            </div>
        </div>*@
    <div class="col-lg-4 col-6" style="cursor:pointer" show-create-user-modal>
        <a href="../Home/TeacherValidation">
            <div class="small-box tbdattente">
                <div class="inner">
                    <h3 id="PaieR">0</h3>
                    <p>Paiements en attente de validation</p>
                </div>
                <div class="icon">
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </div>
        </a>
    </div>
    @*<div class="col-lg-3 col-6" style="cursor:pointer">
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3 id="PaieA">0</h3>
                    <p>Paiements rejetés</p>
                </div>
                <div class="icon">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>*@
    <div class="col-lg-4 col-6" style="cursor:pointer">
        <a href="../Home/BonPourPaiement">
            <div class="small-box tdbvalider">
                <div class="inner">
                    <h3 id="PaieT">0</h3>
                    <p>Paiements validés</p>
                </div>
                <div class="icon">
                    <i class="fas fa-check"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-6" style="cursor:pointer">
        <a href="../Home/FValidation">
            <div class="small-box tdblast">
                <div class="inner">
                    <h3 id="PaieV">0</h3>
                    <p>Paiements finalisés</p>
                </div>
                <div class="icon">
                    <i class="fas fa-check-double"></i>
                </div>
            </div>
        </a>
    </div>
    @*<div class="col-lg-3 col-6" style="cursor:pointer">
        <a href="#">
            <div class="small-box bg-gradient-cyan">
                <div class="inner">
                    <h3 id="PaieF">0</h3>
                    <p>Fichier AFB  à récupérer</p>
                </div>
                <div class="icon">
                    <i class="fas fa-check-double"></i>
                </div>
            </div>
        </a>
    </div>*@
</div>

<script src="~/Assets/js/AACUL.js?version=@Session["VERSION"]"></script>