@{
    ViewBag.Title = "SOFT - SIIGFP CONNECT";
    //ViewData["Controller"] = "SOFT - SIIGFP CONNECT";
    /*Layout = "~/Views/Shared/_Layout.cshtml";*/
}

<h1>Mandats</h1>
<div class="row">
    <div class="col-lg-4 col-6" style="cursor:pointer" show-create-user-modal>
        <div class="small-box bg-gradient-primary">
            <div class="inner">
                <h3 id="MandatT">0</h3>
                <p>Mandats en attente de validation</p>
            </div>
            <div class="icon">
                <i class="fas fa-ellipsis-h"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-6" style="cursor:pointer">
        <div class="small-box bg-gradient-success">
            <div class="inner">
                <h3 id="MandatV">0</h3>
                <p>Mandats validés</p>
            </div>
            <div class="icon">
                <i class="fas fa-check"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-6" style="cursor:pointer">
        <div class="small-box bg-gradient-danger">
            <div class="inner">
                <h3 id="MandatA">0</h3>
                <p>Mandats rejetés</p>
            </div>
            <div class="icon">
                <i class="fas fa-times"></i>
            </div>
        </div>
    </div>
</div>

<h1>Avances</h1>
<div class="row">
    <div class="col-lg-4 col-6" style="cursor:pointer" show-create-user-modal>
        <div class="small-box bg-gradient-primary">
            <div class="inner">
                <h3 id="AvanceT">0</h3>
                <p>Avances en attente de validation</p>
            </div>
            <div class="icon">
                <i class="fas fa-ellipsis-h"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-6" style="cursor:pointer">
        <div class="small-box bg-gradient-success">
            <div class="inner">
                <h3 id="AvanceV">0</h3>
                <p>Avances validées</p>
            </div>
            <div class="icon">
                <i class="fas fa-check"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-6" style="cursor:pointer">
        <div class="small-box bg-gradient-danger">
            <div class="inner">
                <h3 id="AvanceA">0</h3>
                <p>Avances rejetées</p>
            </div>
            <div class="icon">
                <i class="fas fa-times"></i>
            </div>
        </div>
    </div>
</div>

<h1>PAIEMENTS</h1>
<div class="row">
    <div class="col-lg-2 col-6" style="cursor:pointer" show-create-user-modal>
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="PaieR">0</h3>
                <p>Paiement récupérés</p>
            </div>
            <div class="icon">
                <i class="fas fa-list"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-6" style="cursor:pointer" show-create-user-modal>
        <div class="small-box bg-gradient-primary">
            <div class="inner">
                <h3 id="PaieT">0</h3>
                <p>Paiements en attente de validation</p>
            </div>
            <div class="icon">
                <i class="fas fa-ellipsis-h"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-6" style="cursor:pointer">
        <div class="small-box bg-gradient-success">
            <div class="inner">
                <h3 id="PaieV">0</h3>
                <p>Paiements validés</p>
            </div>
            <div class="icon">
                <i class="fas fa-check"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-6" style="cursor:pointer">
        <div class="small-box bg-secondary">
            <div class="inner">
                <h3 id="PaieF">0</h3>
                <p>Paiements finalisés</p>
            </div>
            <div class="icon">
                <i class="fas fa-check-double"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-6" style="cursor:pointer">
        <div class="small-box bg-gradient-danger">
            <div class="inner">
                <h3 id="PaieA">0</h3>
                <p>Paiements rejetés</p>
            </div>
            <div class="icon">
                <i class="fas fa-times"></i>
            </div>
        </div>
    </div>
</div>

<script src="~/Assets/js/AACUL.js"></script>